resources/graphics filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Bold.ttf filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Medium.ttf filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Regular.ttf filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Bold-70.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Medium-70.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Regular-70.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/Ubuntu-Regular-30.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/FrenchCapture.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/FrenchHero[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/FrenchHero[[:space:]]2.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/FrenchHero[[:space:]]3.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/FrenchHero.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/french-color.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/french-standard.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/french.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/Ubuntu-Medium-70.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/Ubuntu-Regular-49.png filter=lfs diff=lfs merge=lfs -text
resources/drawables/launcher_icon.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/Ubuntu-Bold-60.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/Ubuntu-Bold-114.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/Ubuntu-Medium-54.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/Ubuntu-Regular-65.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/Ubuntu-Regular-30.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/Ubuntu-Regular-45.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/Ubuntu-Regular-114.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/Ubuntu-Regular-54.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/Ubuntu-Medium-65.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/Ubuntu-Regular-98.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/Ubuntu-Regular-28.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/Ubuntu-Bold-54.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/Ubuntu-Regular-23.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/Ubuntu-Regular-26.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/Ubuntu-Medium-98.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/Ubuntu-Bold-104.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/Ubuntu-Medium-104.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/Ubuntu-Bold-90.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/Ubuntu-Regular-90.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/Ubuntu-Regular-42.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/Ubuntu-Medium-114.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/Ubuntu-Regular-60.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/Ubuntu-Bold-70.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/Ubuntu-Regular-70.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/Ubuntu-Regular-39.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/Ubuntu-Bold-98.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/Ubuntu-Regular-104.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/Ubuntu-Medium-60.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/Ubuntu-Bold-65.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/Ubuntu-Medium-90.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/Ubuntu-Medium-60.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/Ubuntu-Regular-60.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/Ubuntu-Regular-34.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/Ubuntu-Regular-16.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/Ubuntu-Regular-37.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/Ubuntu-Medium-80.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/Ubuntu-Regular-19.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/Ubuntu-Regular-26.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/Ubuntu-Bold-44.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/Ubuntu-Regular-45.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/Ubuntu-Bold-80.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/Ubuntu-Regular-44.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/Ubuntu-Bold-60.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/Ubuntu-Medium-44.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/Ubuntu-Medium-37.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/Ubuntu-Bold-37.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/Ubuntu-Regular-80.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/Ubuntu-Medium-45.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/Ubuntu-Bold-45.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/Ubuntu-Regular-19.png filter=lfs diff=lfs merge=lfs -text
